*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #23CF5F;
}

#about{
    width: 200px;
    height: 50px;
    border: 2px solid #23CF5F;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 30px;
    line-height: 50px;
    text-align: center;
}

#about:hover{
    background-color: #23CF5F;
    color: white;
    border: 2px solid #fff;
    cursor: pointer;
}

footer a{
    color: white;
}

div{
    float: left;
}

header{
    width: 100%;
    height: 130px;
    background-color: #000;
    color: #23CF5F;
}

header img{
    width: 10%;
    float: right;
}

footer{
    width: 100%;
    height: 15vh;
    background-color: #23CF5F;
    color: white;
    clear: both;
}

footer img{
    padding: 15px;
    float: right;
}

footer span{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
}

#spotify-logo{
    width: 120px;
    height: 35px;
}

#github-logo{
    padding: 17px;
}

#container{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: white;
}

#container-preload{
    background-color: #e3e0e3;
    color: black;
    font-size: 48px;
    width: 100%;
    height: 100vh;
}

#container-preload img{
    display: block;
    margin: 300px auto;
    width: 5%;
}

#container-preload p{
    margin: 100px auto;
    width: 30%;
}

.img-container{
    position: relative;
    z-index: 1;
}

.fa-play{
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: pointer;
    display: none;
}

.fa-pause{
    position: absolute;
    top: 40%;
    left: 40%;
    cursor: pointer;
    display: none;
}

.hide{
    display: none;
}

.show{
    display: block;
}
.greyHover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
  border-radius: 50%;
}

.greyHover:hover{
    opacity: 0.8;
}

.flex-item{
    width: 45%;
    padding-left: 5%;
    background-color: #e3e0e3;
    padding-top: 15px;
}

.flex-item img{
    border-radius: 50%;
}

.buttons{
    opacity: 1;
}

.infos{
    padding: 15px;
    margin-top: 10%;
}

span{
    font-weight: 700;
}